html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: $fonr-size-mobile;
    color: $primary-color;
}


@media screen and (min-width: 500px) {
    html {
        font-size: $font-size;
    }
}

body, table, th, td, form, input, textarea, option, select {
	font-family: inherit;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
	line-height: 1.2;
	padding-bottom: 0.5em;
}

p, ul, ol {
	padding-bottom: .5rem;
}

ul, ol {
	padding-left: 2rem;
}

li {
	list-style-position: inside;
}

blockquote {
    border-left: 4px solid rgb(221, 221, 221);
    font-style: italic;
    padding: 1rem 2rem;
    margin: 0 2rem 2rem 2rem;
}

blockquote .author {
    text-align: right;
    padding-top: 1rem;
}

