header {
    display: flex;
    flex-wrap: wrap;
}

/* header left styles */
header .header-left {
    flex: 1 1 60%;
    padding: 1rem 1rem 1rem 0;
}

.header-left .name {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    padding-bottom: 0;
    line-height: 1;
}

.header-left .name a {
    color: var(--primary-color);
    display: table;
}

.header-left .name a:hover i {
    display: table-cell;
}

.header-left .name i {
    font-size: 1.4rem;
    padding-left: .3rem;
    vertical-align: middle;
    display: none;
}

.header-left .profession {
    font-weight: bold;
    color: var(--blue);
    font-size: 1.2rem;
}

.header-left .profession .fas.fa-file-pdf {
    font-size: 1rem;
    display: none;
    padding-left: .3rem;
}

.header-left .profession:hover .fas.fa-file-pdf {
    display: inline-block;
}

.header-left .contact {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2;
    font-weight: bold;
}

.header-left .contact-left {
    margin-right: 1rem;
}

.header-left .contact a {
    color: var(--primary-color);
}

.header-left .contact a:hover {
    color: var(--blue);
}

.header-left .contact i {
    color: var(--blue);
    margin-right: .5rem;
}

.header-left .fas.fa-phone {
    transform: rotate(100deg);
}

/* header right styles */
.header-right {
    padding: 1rem 0 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 40%;
}
.header-right img {
    width: 9rem;
    border-radius: 50%;
    box-shadow: var(--primary-box-shadow);
    transition: transform .2s;
}

.header-right img:hover {
    transform: scale(1.3);
}
